name: Format code

on: [push, pull_request]

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ github.head_ref }}
      - uses: actions/setup-node@v6
        with:
          node-version: latest
          cache: 'yarn'
      - name: Install dependencies
        run: yarn install --immutable
      - name: Run format
        run: yarn format
      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v7.0.0
        with:
          commit_message: 'chore: apply formatting changes'
          branch: ${{ github.head_ref }}
