name: Format code

on: [push, pull_request]

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4
        with:
          ref: ${{ github.head_ref }}
      - name: Install dependencies
        uses: bahmutov/npm-install@v1
      - name: Run format
        run: yarn format
      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5.0.0
        with:
          commit_message: "chore: apply formatting changes"
          branch: ${{ github.head_ref }}
