name: Test

on: [push, pull_request]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: latest
          cache: 'yarn'
      - name: Install dependencies
        run: yarn install --immutable
      - name: Running unit tests
        run: yarn test
